#edit_sidebar {
    margin: 0px;
    width: 300px;
    background-color: cornsilk;
}

#edit_content {
    position: relative;
}

/*分欄框*/
.groupBox {
    padding: 5px 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: black;
    border: 1px groove;
}

/*輸入表格*/
.edit_table {
    table-layout: fixed;
    width: 100%;
}

#table_labelData input {
    width: 100%;
}

.table_col1 {
    width: 70px;
}

.table_col2 {
    width: 100%;
}

/*數字欄位*/
.input_num {
    width: 45px;
}

/*標籤元件清單*/
#labelElementsList {
    position: relative;
    left: 5px;
    min-width: 97%;
}

#btnDeselectElement {
    float:right;
}

/*選擇圖片檔案欄位長度修正*/
#txtImgFilePath {
    width: 190px;
}

/*編輯區圖片預覽*/
#edit_imagePreview {
    width: 80px;
    height: 80px;
}

/*元件設定提示*/
.prompt {
    color: red;
}

/*標籤元件位置設定*/
#elLocSettings {
    margin-left: 5px;
    margin-top: 10px;
}

/*標籤元件編輯按鈕區塊*/
.editButtonGroup {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-around;
}

/*尺規單位*/
#unit {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: silver;
}

    #unit span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: blue;
    }

/*水平尺規*/
#rulerX {
    position: absolute;
    left: 30px;
    height: 30px;
}

/*垂直尺規*/
#rulerY {
    position: absolute;
    top: 30px;
    width: 30px;
}

/*繪圖區*/
#labelLayout {
    position: absolute;
    top: 30px;
    left: 30px;
}

/*網格線*/
.grid {
    border-style: solid;
    border-width: 0.5px;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(200, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 10px 10px;
}
